
.topbar {
    border-bottom: 1px solid #E8EEE4;
    
  }
  
  .topbar .row {
    align-items: center;
    min-height: 36px;
  }
  

  .btn-login{
    background-color: #23A8D8 ;
    color:#5AF0B4;
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    border: none;
  }

  .btn-login:hover{
    background-color: #0B7FA9 ;
    color:#5AF0B4;
    border: none;
  }
  .btn-login:active{
    background-color: #23A8D8 ;
    color:#5AF0B4;
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    border: none;
  }
  
  .btn-register{
    background-color: #5AF0B4 ;
    color:#23A8D8;
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    border: none;
  }

  .btn-register:hover{
    color:#0B7FA9;
    border: none;
  }

  .btn-register:active{
    background-color: #5AF0B4 ;
    color:#23A8D8;
    font-family: sans-serif;
    font-weight: 600;
    font-size:15px;
    border: none;
  }

  body{
    background-color: #5AF0B4;
  }