

<body>


    <div class="container background">

        <div class="row red">
            <div class="col-12 col-sm-7 col-md-6 m-auto">
                <div class="card border-0 shadow">
                    <div class="card-body">
                        <h2>Promena lozinke</h2>
                        <span style="color:red;float: left;padding-bottom: 10px; ">{{message}}</span>
                        <form action="" [formGroup]="lozinkaForma">
                            <input type="password" name="oldPassword" [(ngModel)]="oldPassword" class="form-control my-4 py-2"
                                placeholder="Old password" id="oldPassword" />


                                <div class="form-group">
                                    <input type="password" name="password" [(ngModel)]="newPassword" id="lozinka"
                                        formControlName="lozinka" class="form-control my-4 py-2" placeholder="Password" />
    
                                    <div *ngIf="lozinkaForma.get('lozinka').dirty && lozinkaForma.get('lozinka').invalid"
                                        class="error-message">
    
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('minlength')">Lozinka mora imati
                                            minimalno 8 karaktera.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('maxlength')">Lozinka moze imati
                                            maksimalno 14 karaktera.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('jednoVelikoSlovo')">Lozinka mora
                                            imati bar jedno veliko slovo.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('barJedanBroj')">Lozinka mora imati
                                            bar jedan broj.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('barJedanSpecijalniKarakter')">
                                            Lozinka mora imati bar jedan specijalni karakter.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('pocinjeSlovom')">Lozinka mora
                                            pocinjati slovom.</div>
                                        <div *ngIf="lozinkaForma.get('lozinka').hasError('bezDuplihSusednihZnakova')">
                                            Lozinka ne sme imati dva susedna ista znaka.</div>
                                    </div>
                                </div>


                            <input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
                                class="form-control my-4 py-2" placeholder="Confirm new password"  id="confirmPassword"/>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary" (click)="changePassword()">Promeni</button>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn btn-primary btn2" (click)="nazad()">Odustani</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </div>

</body>

